.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

table {
    width: 200px;
}

.display {
    display: flex;
    height: fit-content;
}

.display input[type=button]{
    padding: 0;
    width: 100%;
}

#formula {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    border-bottom: 0;
    height: 40px;
    line-height: 20px;
    font-size: medium;
    width: 216px;
    text-align: left;
}

#display {
    border: 1px solid black;
    height: 40px;
    width: 183px;
    font-size: medium;
    line-height: 20px;
    border-top: 0;
    border-right: 0;
}


input[type=button] {
    padding: 20px;
    width: 100%;
}