.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

table {
    width: 200px;
}

.display {
    display: flex;
    height: fit-content;
}

.display input[type=button]{
    padding: 0;
}

#formula {
    height: 40px;
    width: 210px;
}

#display {
    border: 1px solid black;
    height: 40px;
    width: 183px;
    font-size: medium;
    line-height: 20px;
}


input[type=button] {
    padding: 20px;
    width: 100%;
}